@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.body {
  background-color: #0F1922;
  width: 100vw;
  height: 100vh;
  padding: 10px 0px 0px 20vw;
  color: #ffffff;
  background-image: url("/assets/img/logo.png");
  background-repeat: no-repeat;
  background-size: 15vw;
  background-position: 57% 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.zoom:hover {
  transform: scale(0.9);
}


.card-user {
  & h2 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 30%;
  }

  & img {
    width: 50%;
    margin-top: 5%;
  }

  & .div-car-user {
    width: 100%;
    border: #ffffff solid 3px;
    background-color: #ffffff1d;
    display: grid;
    grid-template-rows: 40% 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }

  width: 90%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
  justify-content: center;
  align-items: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.car-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveCar 2s linear infinite;
}

.previewImgVeh {
  width: 50%;
}

.img-preview {
  width: 40%;
}

@keyframes moveCar {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.loading {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.dot {
  animation: blink 1.4s infinite both;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.card-title {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}

.card-text {
  font-size: 1.2em;
  padding-top: 3px;
  text-align: center;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .body {
    padding: 0% 5% !important;
    background-position-x: center;
    background-size: 30vw;
  }
}

@media screen and (min-width: 249px) and (max-width: 799px) {
  .body {
    padding: 0% 5% !important;
    background-position-x: center;
    background-size: 40vw;
  }
}

@media screen and (min-width: 249px) and (max-width: 899px) {
  .card-user {
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }

  .body {
    padding: 0% 5% !important;
    background-position-x: center;
  }

  .div-car-user {
    margin-bottom: 20px;
  }

  .previewImgVeh {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 5px !important;
  }
}