<app-navbar></app-navbar>


<section class="body">
    <div class="d-flex justify-content-center align-items-center my-3">
        <h1 class="m-0">BANCOS</h1>
        <button class="btn btn-success ms-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar</button>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">NOMBRE BANCO</th>
                    <th scope="col">NOMBRE ASESOR BANCARIO</th>
                    <th scope="col">TELÉFONO ASESOR BANCARIO</th>
                    <th scope="col">CORREO ASESOR BANCARIO</th>
                    <th scope="col">ACCIÓN</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let banco of bancos" (click)="seleccionarBanco(banco)">
                    <th scope="row">{{banco.nombreBanco}}</th>
                    <td>{{banco.nombreAsesorBancario}}</td>
                    <td>{{banco.telefonoAsesorBancario}}</td>
                    <td>{{banco.correoAsesorBancario}}</td>
                    <td> <button class="btn btn-warning ms-4" data-bs-toggle="modal"
                            data-bs-target="#staticeditar">Editar</button>
                        <button class="btn btn-danger ms-4" (click)="eliminarBanco(banco._id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" [formGroup]="bancosForm">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombreBanco" name="nombreBanco"
                                formControlName="nombreBanco">
                            <label for="nombreBanco">Nombre banco</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombreAsesorBancario"
                                name="nombreAsesorBancario" formControlName="nombreAsesorBancario">
                            <label for="nombreAsesorBancario">Nombre asesor bancario</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="telefonoAsesorBancario"
                                name="telefonoAsesorBancario" formControlName="telefonoAsesorBancario">
                            <label for="telefono">Teléfono asesor bancario</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="correoAsesorBancario"
                                name="correoAsesorBancario" formControlName="correoAsesorBancario">
                            <label for="correoAsesorBancario">Correo asesor bancario</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" (click)="crearBanco()">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticeditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombreBanco" placeholder="nombreBanco"
                                [(ngModel)]="bancoSeleccionado.nombreBanco">
                            <label for="nombreBanco">Nombre banco</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombreAsesorBancario"
                                placeholder="nombreAsesorBancario" [(ngModel)]="bancoSeleccionado.nombreAsesorBancario">
                            <label for="nombreAsesorBancario">Nombre banco asesor bancario</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="telefonoAsesorBancario"
                                placeholder="telefonoAsesorBancario"
                                [(ngModel)]="bancoSeleccionado.telefonoAsesorBancario">
                            <label for="telefonoAsesorBancario">Teléfono asesor bancario</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="correoAsesorBancario"
                                placeholder="correoAsesorBancario" [(ngModel)]="bancoSeleccionado.correoAsesorBancario">
                            <label for="correoAsesorBancario">Correo asesor bancario</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" (click)="actualizarBanco()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="loading-overlay">
    <div class="car-spinner">
        <img src="../assets/img/loading.png" width="200px" alt="">
    </div>
    <p class="loading">Cargando
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
    </p>
</div>