<app-navbar></app-navbar>

<section class="body">
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cuentas por Pagar
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/cuentas-por-pagar">Cuentas variables</a></li>
            <li><a class="dropdown-item" routerLink="/cuentas-por-pagar-fija">Cuentas fijas</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</section>