/* manual.component.css */

nav {
    background-color: #0F1922;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
}

#section6 a {
    color: #3498db; /* Cambia el color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Haz el texto en negrita */
    padding: 5px 10px; /* Añade relleno alrededor del texto */
    border: 1px solid #3498db; /* Añade un borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Añade una transición para cambios de color */
    margin-left: 1%;
}

#section6 a:hover {
    background-color: #3498db; /* Cambia el color de fondo al pasar el ratón */
    color: #ffffff; /* Cambia el color del texto al pasar el ratón */
}

.nav-initial {
    display: flex;
    align-items: center;
    color: #ffffffff;
}

.nav-initial a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.nav-initial a:hover {
    color: #b3b3b3;
}

.volver {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: #125188;
    border-radius: 5px;
}

nav img {
    width: 150px;
}

.sectionAll {
    height: 80vh;
    padding: 0 5%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;

}
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    margin-left: 3%;
    margin-bottom: 10px;
    font-weight: bold;
}

.subdivtext{
    line-height: normal;
    font-size: 20px;
    margin-left: 3%;
    margin-bottom: 10px;
}

.subSubTitle {
    font-size: 20px;
    margin-left: 6%;
    margin-bottom: 10px;
    font-weight: bold;
}


.text {
    line-height: normal;
    font-size: 20px;
}

.subtext {
    font-size: 20px;
    margin-left: 3%;
    line-height: normal;
    text-align: justify;
}
.subSubText {
    font-size: 20px;
    margin-left: 6%;
    line-height: normal;
    text-align: justify;
}

.divTitle {
    padding: 2% 3%;
    margin-bottom: 5px;
    text-align: center;
}

.divTitle h1 {
    font-size: 40px;
    font-weight: bold;
}

.divInfo {
    display: flex;
}

.divIndice {
    width: 20%;
    border-right: 1px solid #000000;
    padding: 20px 10px;
}

.divIndice h3 {
    font-size: 25px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: #0f5b9e;
    margin-bottom: 10px;
}

.divIndice ul {
    list-style-type: none;
    padding: 0;
}

.divIndice ul li {
    margin: 10px 0;
}

.divIndice ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #888888;
    cursor: pointer;
    padding: 5px;
}

.divIndice ul li a.active {
    font-weight: bold;
    background-color: #083053;
    color: #ffffff;
    border-radius: 10px;
}

.divIndice ul li a.subActive {
    font-weight: bold;
    background-color: #2572b6;
    color: #ffffff;
    border-radius: 10px;
}

.divIndice ul li a:hover {
    text-decoration: underline;
}

.subIndice {
    padding-left: 20px;
    margin-top: 5px;
}

.divText {
    width: 80%;
    padding: 10px;
    overflow-y: scroll;
    height: 90vh;
}

.divText h3 {
    margin-top: 20px;
}
.activeTitle{
    color: #979797 !important;
    font-weight: bold;
}